<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="javax.persistence.jdbc.driver">com.mysql.jdbc.Driver</property>
		<property name="javax.persistence.jdbc.url">jdbc:mysql://localhost:3306/gilead?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=utf-8"</property>
		<property name="javax.persistence.jdbc.user">gilead</property>
		<property name="javax.persistence.jdbc.password">gilead</property>

		<!-- <property name="javax.persistence.validation.mode" value="NONE" /> -->
		<!-- <property name="hibernate.validator.apply_to_ddl" value="false" /> -->

		<property name="hibernate.connection.useUnicode">true</property>
		<property name="hibernate.connection.characterEncoding">UTF-8</property>
		<property name="hibernate.connection.pool_size">-1</property>

		<!-- <property name="hibernate.current_session_context_class">thread</property> -->
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<property name="hibernate.jdbc.batch_size">20</property>
		<property name="hibernate.show_sql">true</property>
	</session-factory>
</hibernate-configuration>
